{{ 
  mojSubNavigation({
    label: 'Offender views',
    items: [{
      text: 'Overview',
      href: '/release/case/overview',
      active: currentPage == 'overview'
    }, {
      text: 'Milestones',
      href: '/release/case/milestones',
      active: currentPage == 'milestones'
    }, {
      text: 'Documents',
      href: '/release/case/documents',
      active: currentPage == 'documents'
    
    }, {
      text: 'Parties',
      href: '#4'
    }, {
      text: 'Timeline',
      href: '#5'
    }]
  }) 
}}
