{% extends "release/layout.html" %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}



{% block pageTitle %}
  Calculate tariff expiration date - Manage prison release
{% endblock %}

{% block identityBar %}
  {% include "release/case/_identity_bar.html" %}
{% endblock %}

{% block subNavigation %}
 {% set currentPage = 'milestones' %}
 {% include "release/case/_navigation.html" %}
{% endblock %}

{% set mainClasses = 'govuk-!-padding-top-2' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Calculate tariff expiration date</h1>
      <form action="/release/case/confirm-tariff-expiration-date" method="get">
        {{ govukDateInput({
          id: "minimum_term",
          namePrefix: "minimum_term",
          fieldset: {
            legend: {
              text: "Enter minimum term",
              isPageHeading: false
            }
          },
          hint: {
            text: "This is usually found in the sentencing remarks"
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "years"
            },
            {
              classes: "govuk-input--width-2",
              name: "months"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "remand_time",
          namePrefix: "remand_time",
          fieldset: {
            legend: {
              text: "Enter time spent in remand",
              isPageHeading: false
            }
          },
          hint: {
            text: "This can be found in the sentencing remarks or the warrant"
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "years"
            },
            {
              classes: "govuk-input--width-2",
              name: "months"
            }
          ]
        }) }}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Sentence start date"
              },
              value: {
                text: "21 February 2001"
              },
              actions: {
                  items: [
                    {
                      href: "#edit-sentence-start",
                      text: "Edit",
                      visuallyHiddenText: "sentence start date"
                    }
                  ]
                }
            }
          ]
        }) }}

        <input type="hidden" name="dates-calculated" value="1">

        {{ govukButton({
          text: "Calculate"
        }) }}

        <p><a href="#add-manually" class="govuk-link">Add manually</a></p>

      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related documents
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/public/files/judges_report_mock_up.pdf">
                Sentencing remarks
              </a> (PDF)
            </li>
            <li>
              <a href="/release/case/documents" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in documents</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
