{% extends "release/layout.html" %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions -%}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Matt Johnson - Manage prison release
{% endblock %}

{% block identityBar %}
  {% include "release/case/_identity_bar.html" %}
{% endblock %}

{% block subNavigation %}
  {% set currentPage = 'documents' %}
  {% include "release/case/_navigation.html" %}
{% endblock %}

{% set mainClasses = 'govuk-!-padding-top-2' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojPageHeaderActions({
          heading: {
            html: '<h1 class="govuk-heading-xl">Check documentation</h1>'
          },
          items: [{
            text: 'Request more documents',
            classes: 'govuk-button--secondary'
          }]
        }) }}
      <p class="govuk-body">Select the documents that are not correct</p>

      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header"></th>

            <th scope="col" class="govuk-table__header">Title</th>

            <th scope="col" class="govuk-table__header">Format</th>

            <th scope="col" class="govuk-table__header">Check against errors</th>

            <th scope="col" class="govuk-table__header">Authored by</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input issue-with-document" id="issue" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="issue">
                  <span class="govuk-visually-hidden">Select</span>
                </label>
              </div>
            </td>

            <td class="govuk-table__cell">
              <a href="/public/files/PAROM 1 edited.pdf">PAROM1</a>
            </td>

            <td class="govuk-table__cell">PDF</td>

            <td class="govuk-table__cell">No</td>

            <td class="govuk-table__cell">Douglas Heen</td>

          </tr>

          <tr class="govuk-table__row govuk-table__row--hidden">
            <td class="govuk-table__cell" colspan="5">
              <div class="govuk-checkboxes__conditional">
              {{ govukInput({
                label: {
                  text: "Give a reason"
                },
                classes: "govuk-input--width-20",
                id: "reason",
                name: "reason"
              }) }}
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input issue-with-document" id="issue" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="issue">
                  <span class="govuk-visually-hidden">Select</span>
                </label>
              </div>
            </td>

            <td class="govuk-table__cell">
              <a href="/public/files/OASys Assessment.pdf">OASys</a>
            </td>

            <td class="govuk-table__cell">PDF</td>

            <td class="govuk-table__cell">Yes</td>

            <td class="govuk-table__cell">Tom Mariott</td>

          </tr>

          <tr class="govuk-table__row govuk-table__row--hidden">
            <td class="govuk-table__cell" colspan="5">
              <div class="govuk-checkboxes__conditional">
              {{ govukInput({
                label: {
                  text: "Give a reason"
                },
                classes: "govuk-input--width-20",
                id: "reason",
                name: "reason"
              }) }}
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input issue-with-document" id="issue" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="issue">
                  <span class="govuk-visually-hidden">Select</span>
                </label>
              </div>
            </td>

            <td class="govuk-table__cell">
              <a href="/public/files/SPR L.pdf">SPR-L</a>
            </td>

            <td class="govuk-table__cell">PDF</td>

            <td class="govuk-table__cell">Yes</td>

            <td class="govuk-table__cell">Sheila Rock</td>

          </tr>

          <tr class="govuk-table__row govuk-table__row--hidden">
            <td class="govuk-table__cell" colspan="5">
              <div class="govuk-checkboxes__conditional">
              {{ govukInput({
                label: {
                  text: "Give a reason"
                },
                classes: "govuk-input--width-20",
                id: "reason",
                name: "reason"
              }) }}
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input issue-with-document" id="issue" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="issue">
                  <span class="govuk-visually-hidden">Select</span>
                </label>
              </div>
            </td>

            <td class="govuk-table__cell">
              <a href="/public/files/PSR.pdf">Pre-sentence report</a>
            </td>

            <td class="govuk-table__cell">PDF</td>

            <td class="govuk-table__cell">Yes</td>

            <td class="govuk-table__cell">Mark Will</td>

          </tr>

          <tr class="govuk-table__row govuk-table__row--hidden">
            <td class="govuk-table__cell" colspan="5">
              <div class="govuk-checkboxes__conditional">
              {{ govukInput({
                label: {
                  text: "Give a reason"
                },
                classes: "govuk-input--width-20",
                id: "reason",
                name: "reason"
              }) }}
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input issue-with-document" id="issue" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="issue">
                  <span class="govuk-visually-hidden">Select</span>
                </label>
              </div>
            </td>

            <td class="govuk-table__cell">
              <a href="/public/files/Sentencing remarks.pdf">Sentencing Judge's remarks</a>
            </td>

            <td class="govuk-table__cell">PDF</td>

            <td class="govuk-table__cell">Yes</td>

            <td class="govuk-table__cell">Alex Rock</td>

          </tr>

          <tr class="govuk-table__row govuk-table__row--hidden">
            <td class="govuk-table__cell" colspan="5">
              <div class="govuk-checkboxes__conditional">
              {{ govukInput({
                label: {
                  text: "Give a reason"
                },
                classes: "govuk-input--width-20",
                id: "reason",
                name: "reason"
              }) }}
              </div>
            </td>
          </tr>

        </tbody>
      </table>

      <form action="/release/case/rerequest-documents">
        {{ govukButton({
                text: "Save and continue"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}