{% extends "release/layout.html" %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{% block pageTitle %}
  Matt Johnson - Manage a parole review
{% endblock %}

{% set referToMCA = true %}

{% block identityBar %}
  {% include "release/case/_identity_bar.html" %}
{% endblock %}

{% block subNavigation %}
 {% set currentPage = 'documents' %}
 {% include "release/case/_navigation.html" %}
{% endblock %}

{% set mainClasses = 'govuk-!-padding-top-2' %}

{% set checkboxHtml %}
<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
    <input type="checkbox" class="govuk-checkboxes__input" id="issue" value="yes" {% if query.completed %} checked="checked"{% endif%}>
    <label class="govuk-label govuk-checkboxes__label" for="issue">
        <span class="govuk-visually-hidden">Select</span>
    </label>
</div>
{% endset %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Collect and track documentation</h1>

      {% if not query.completed %}

      <p class="govuk-body">
        Request and track/verify all the documentation for the full dossier. When possible, they’ve been automatically checked to ensure that:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>it is the right format</li>
        <li>the offender’s name matches the sentence</li>
        <li>it’s been authored</li>
        <li>it’s been produced within the last 6 months</li>
      </ul>

      <h2 class="govuk-heading-l">Missing information</h2>

      <a href="/release/case/collect-and-track-documents?completed=1" class="govuk-button govuk-button--secondary">Mark as completed</a>

      {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
                text: ""
            },
            {
              text: "Title"
            },
            {
              text: "Date requested"
            },
            {
              text: "Request to"
            },
            {
              text: "Request status"
            },
            {
              text: ""
            }
          ],
          rows: [
            [
              {html: checkboxHtml},
              {
                html: "<a href='#doc' class='govuk-link'>PAROM 1</a>"
              },
              {
                text: "24 August 2020"
              },
              {
                text: "HMPPS - Julie Young, Probation Officer"
              },
              {
                text: "New documents received"
              },
              {
                html: ""
              }
            ],
            [
              {html: checkboxHtml},
              {
                html: "<a href='#doc' class='govuk-link'>SPR-L</a>"
              },
              {
                text: "24 August 2020"
              },
              {
                text: "HMP Leeds - Mark Willis, Offender Supervisor"
              },
              {
                text: "New documents received"
              },
              {
                html: ""
              }
            ],
            [
              {html: checkboxHtml},
              {
                html: "<a href='#doc' class='govuk-link'>OASys report</a>"
              },
              {
                text: "9 August 2020"
              },
              {
                text: "HMPPS - Fran DoSantos, Probation Officer"
              },
              {
                text: "New documents received"
              },
              {
                html: ""
              }
            ]
          ]
      }) }}

      {% endif %}

      <h2 class="govuk-heading-l">Mandatory documents completed</h2>

      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          
            <th scope="col" class="govuk-table__header">Title</th>
          
            <th scope="col" class="govuk-table__header">Format</th>
          
            <th scope="col" class="govuk-table__header">Date received</th>
          
            <th scope="col" class="govuk-table__header">Sent by</th>
          
            <th scope="col" class="govuk-table__header">Checked for errors</th>
          
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">

              {% if query.completed %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#document">PAROM 1</a></td>
                    
                    <td class="govuk-table__cell">PDF</td>
                    
                    <td class="govuk-table__cell">24 August 2020</td>
                    
                    <td class="govuk-table__cell">HMP Brixton</td>
                    
                    <td class="govuk-table__cell">Yes</td>
                  
                  </tr>
                
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#document">SPR-L</a></td>
                    
                  <td class="govuk-table__cell">PDF</td>
                    
                  <td class="govuk-table__cell">24 August 2020</td>
                    
                  <td class="govuk-table__cell">HMP Brixton</td>
                    
                  <td class="govuk-table__cell">Yes</td>
                    
                  
                  </tr>
                
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#document">OASys report</a></td>
                    
                  <td class="govuk-table__cell">PDF</td>
                    
                  <td class="govuk-table__cell">24 August 2020</td>
                    
                  <td class="govuk-table__cell">HMP Brixton</td>
                    
                  <td class="govuk-table__cell">Yes</td>
                    
                  
                  </tr>

              {% endif %}
          
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#document">Order for Imprisonment Indictment</a></td>
                
                <td class="govuk-table__cell">PDF</td>
                
                <td class="govuk-table__cell">12 August 2020</td>
                
                <td class="govuk-table__cell">HMP Brixton</td>
                
                <td class="govuk-table__cell">Yes</td>
              
              </tr>
            
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#document">Previous convictions</a></td>
                
              <td class="govuk-table__cell">PDF</td>
                
              <td class="govuk-table__cell">12 August 2020</td>
                
              <td class="govuk-table__cell">HMP Brixton</td>
                
              <td class="govuk-table__cell">Yes</td>
                
              
              </tr>
            
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#document">Police summary of evidence</a></td>
                
              <td class="govuk-table__cell">PDF</td>
                
              <td class="govuk-table__cell">12 August 2020</td>
                
              <td class="govuk-table__cell">HMP Brixton</td>
                
              <td class="govuk-table__cell">Yes</td>
                
              
              </tr>
            
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#document">Prosecution case summary</a></td>
                
              <td class="govuk-table__cell">PDF</td>
                
              <td class="govuk-table__cell">12 August 2020</td>
                
              <td class="govuk-table__cell">HMP Brixton</td>
                
              <td class="govuk-table__cell">Yes</td>
                
              
              </tr>
            
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#document">Pre-trial medical evaluation</a></td>
                
              <td class="govuk-table__cell">PDF</td>
                
              <td class="govuk-table__cell">12 August 2020</td>
                
              <td class="govuk-table__cell">HMP Brixton</td>
                
              <td class="govuk-table__cell">Yes</td>
                
              
              </tr>
            
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#document">Post-sentence probabtion report</a></td>
                
              <td class="govuk-table__cell">PDF</td>
                
              <td class="govuk-table__cell">12 August 2020</td>
                
              <td class="govuk-table__cell">HMP Brixton</td>
                
              <td class="govuk-table__cell">Yes</td>
                
              
              </tr>
            
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/public/files/judge_s_report_mock_up.pdf">Sentencing remarks</a></td>
                
              <td class="govuk-table__cell">PDF</td>
                
              <td class="govuk-table__cell">12 August 2020</td>
                
              <td class="govuk-table__cell">HMP Brixton</td>
                
              <td class="govuk-table__cell">Yes</td>
                
              
              </tr>
            
          
        </tbody>
      </table>

        {% if query.completed %}
        <form action="/release/case/refer-to-parole-board">

            <div class="govuk-!-margin-top-7">
            {{ govukButton({
                text: "Refer to Parole Board"
            }) }}
            </div>
        </form>
        {% endif %}
    </div>
  </div>

{% endblock %}
