{% extends "release/layout.html" %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/panel/macro.njk" import govukPanel -%}
{%- from "govuk/components/details/macro.njk" import govukDetails -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}

{% block pageTitle %}
  Calculate tariff expiration date - Manage a parole review
{% endblock %}

{% block identityBar %}
  {% include "release/case/_identity_bar.html" %}
{% endblock %}

{% block subNavigation %}
 {% set currentPage = 'milestones' %}
 {% include "release/case/_navigation.html" %}
{% endblock %}

{% set mainClasses = 'govuk-!-padding-top-2' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Calculate tariff expiration date</h1>
      <form action="/release/case/milestones" method="get">
        {{ govukPanel({
          titleText: "Tariff expiry date calculated"
        }) }}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Tariff expiration date"
              },
              value: {
                text: config.tariffExpiryDate
              }
            },
            {
              key: {
                text: "First Review date"
              },
              value: {
                text: config.firstReviewDate
              }
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "See how it's been calculated",
          text: "The days spent in remand is substracted from the minimum term set out by the judge from the sentence start date "
        }) }}

        <input type="hidden" name="notify-prison" value="1">

        <div class="govuk-!-padding-top-3">
          {{ govukButton({
            text: "Send notification letter"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
