{% extends "release/layout.html" %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}


{% block pageTitle %}
  Matt Johnson - Manage prison release
{% endblock %}

{% block identityBar %}
  {% include "release/case/_identity_bar.html" %}
{% endblock %}

{% block subNavigation %}
 {% set currentPage = 'documents' %}
 {% include "release/case/_navigation.html" %}
{% endblock %}

{% set mainClasses = 'govuk-!-padding-top-2' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Refer to Parole Board</h1>
      <p class="govuk-body">All the documents are ready</p>
      <p class="govuk-body">
        Below is the notification you're about to send to:
      </p>
      
      <div class="grey-panel govuk-body govuk-!-padding-5">
        <div class="pull-right"><a href="#edit" class="govuk-link">Edit</a></div>
        Tom Sus, Member Case Assessment<br>
        tom.sus@mca.gov.uk
      </div>

      <div class="email-preview govuk-!-padding-5">
        <p class="govuk-body">Dear colleague,</p>

        <p class="govuk-body">The documentation is now ready for review.</p>

        <p class="govuk-body">
          <strong>Prisoner name, surname, DOB:</strong> Matt Johnson, 20 September 1976<br>
          <strong>NOMIS number:</strong> A721445<br>
        </p>
        <p class="govuk-body">You can review the documentation following this link.</p>

        <p class="govuk-body">Best,<br>
        Parole Elgible Casework Team, PPCS</p>
      </div>

      <form action="/release/case/timeline?referred=true">

        <div class="govuk-!-margin-top-7">
          {{ govukButton({
            text: "Refer to Parole Board"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
