
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
    Investigate a complaint prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
            text: "Back",
            href: "/prototypes"
        }) }}
        <h1 class="govuk-heading-xl">
            Investigate a complaint
        </h1>

        <h2 class="govuk-heading-m">
            What we did
        </h2>
        <p class="govuk-body">PPO’s work around complaints follows this structure:
            <ol class="govuk-list govuk-list--number">
                 <li>Understand what the complaint is about</li>
                 <li>Determine what needs to be investigated to reach a decision, and request that information from the prison</li>
                 <li>Communicate and explain the decision to the prison and the prisoner</li>
                <li>(if applicable) Describe and publish national recommendations</li>
            </ol>


        We designed a simpler flow for them to do these 4 activities on a casework tool. It allows investigators to receive, progress and track an investigation. 
        They can request and have all the relevant documents in this tool and track how their recommendations are progressing.

        </p>

        <h2 class="govuk-heading-m">
            What we didn’t do
        </h2>
        <ul class="govuk-list govuk-list--bullet">
         <li>We didn’t look much into the admin process as it will remain manual as service users don’t have a way to submit complaints electronically.</li>
         <li>Measuring impact and performance of the service</li>
         <li>Auditing an investigation</li>
         <li>We didn’t look into investigating fatalities</li>
        </ul>

           <h2 class="govuk-heading-m">
            What we learned
        </h2>
        <ul class="govuk-list govuk-list--bullet">
         <li>Adding checkpoints on each page wasn’t useful, they could easily navigate with the left hand side menu organised by jobs.</li>
         <li>Document previews worked well and saved time to users</li>
         <li>All in one place makes the admin tasks way simpler - no need to upload emails, and there’s no risk with forgetting to log things</li>
         <li>Even though nowadays automatically saving the work might be an obvious feature, participants mentioned a few times of the issues around losing progress in their work because problems with PPUD</li>
        </ul>
        
       <h2 class="govuk-heading-m">
            Things to explore further
        </h2>
        <ul class="govuk-list govuk-list--bullet">
         <li>More options to request evidence. Currently the prototype gives them automatically a link to request documents. We learned that they might just ask for a clarification or explanation of a policy.
        They should be able to receive documents or just messages. A way of doing this could be letting them generate a link, or just the person on the other side attaching a document that it’ll appear in their documents section.
        </li>
         <li>Users need a way to track their work, they mentioned they use target dates to do this</li>
         <li>We didn’t test the link to upload documents with prisons. </li>
         <li>Sometimes they might start with a letter template and realise that what they need to do is a report. They should be able to go back and change what they’re doing, potentially keeping drafts of both.
        </li>
            <li>Test with more participants that recommendations can be captured that way and if any other detail might be needed.</li>
        <li>We didn’t have time to test the page ‘Check progress’. This will allow them to track what recommendations have been done or not.</li>
        </ul>
        
          <h2 class="govuk-heading-m">
            Things we believe might help PPO in the future:
        </h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Review and possible redesign of paper forms to enable better information gathering</li>
         <li>Developing a work script</li>
         <li>Identifying and redesigning transcription needs</li>
            <li>Enabling more collaborative working processes</li>
        </ul>

        <h2 class="govuk-heading-m">
            Prototypes we tested
        </h2>

        <div class="moj-timeline">
            <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Investigate a complaint prototype v1 (PDF)</h2>
                </div>
                <p class="moj-timeline__date">
                    <time datetime="2020-08-28T00:00:00.000Z">18 September 2020</time>
                </p>
                <div class="moj-timeline__description">
                    <p></p>
                    <a class="govuk-button" href="/public/files/pdf-prototypes/ppo-investigate-complaint.pdf">View</a>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
