{% extends "recall/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Notification complete",
            html: "Email has been sent"
        }) }}
        <p class="govuk-body">Your request has been sent to {{ data['countersign-name'] | d('Jo Holland') }} for counter-signing.</p>
        <p class="govuk-body">We will let you know once that’s done, and it will be sent to PPCS Recall Team</p>
    </div>
</div>

{% endblock %}