{% extends "recall/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {% set currentPage = 'emergency' %}
        {% include "recall/_side-navigation.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form action="/recall/search">
        {{ govukRadios({
        idPrefix: "is-emergency",
        name: "is-emergency",
        classes: "govuk-radios--inline",
        fieldset: {
            legend: {
                text: "Is it an emergency?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
              text: "Emergency recalls apply only to IPP, indetetminate and life sentences, or someone who poses a great risk to the public that their immediate detention is required."
        },
        items: [
           {
                value: "yes",
                text: "Yes",
                conditional: {
                    html: "<p>You need to call PPCS on 020 987 16567 to notify them of the urgency of the situation first</p>"
                }
            },
            {
                value: "no",
                text: "No"
            }
        ]
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
        </form>
    </div>
</div>

{% endblock %}
