
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
  List of prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Managing a recall for a previous offender
      </h1>

      <!--<h2 class="govuk-heading-m">
        Users and their needs
      </h2>
      
      <h3 class="govuk-heading-s">
        PPCS Caseworkers
      </h3>
      {{ govukDetails({
        summaryText: "Key needs",
        text: "tbc"
      }) }}


      <h3 class="govuk-heading-s">
        PPCS Team Manager
      </h3>
      {{ govukDetails({
        summaryText: "Key needs",
        text: "tbc"
      }) }} -->

      <h2 class="govuk-heading-m">
        Prototypes
      </h2>

      <div class="moj-timeline">

      <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Start a recall prototype v1</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-19T00:00:00.000Z">24 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of starting the recall process for a previuous offender</p>
                <a class="govuk-button" href="/release/start">View</a>
                
            </div>
        </div>
    </div>

  </div>
  <div class="govuk-grid-column-one-third  govuk-!-margin-top-9">
        <aside class="app-related-items  govuk-!-margin-top-6" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                More information
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
                <li>
                    <a href="https://docs.google.com/presentation/d/187Ntq3REWUG-xHBzXh3SH5QNJM9W5pQL3Di1F6Z-l1U/edit?usp=sharing">
                        Living deck
                    </a>
                </li>
                <li>
                    <a href="https://docs.google.com/presentation/d/1BQ6-3cPTVTe0kWqFq1D2fllQQQKrni76z6wz73a9Y-M/edit?usp=sharing">
                        Timelines and research
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/drive/u/0/folders/1IEKCt2GBVo5IHeY8bgIOloYpTf7vtxNq">
                        Show and tells
                    </a>
                </li>
            </ul>
            </nav>
        </aside>
    </div>
</div>

{% endblock %}
