
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
    Managing a recall for a previous offender prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/prototypes"
      }) }}
      <h1 class="govuk-heading-xl">
        Managing a recall for a previous offender
      </h1>

        <h2 class="govuk-heading-m">
            What we did
        </h2>
        <p class="govuk-body">We focused on 2 key steps: initiate a recall and assess a recall.</p>
        <p class="govuk-body">We looked at the cases where that recall is initiated, processed by the PPCS, involved parties are informed of the revocation order, and then the offender is either unlawfully at large, or is brought back into custody.</p>
        
        <h4 class="govuk-heading-s">Initiate a recall - Community Offender Managers</h4>
        <p class="govuk-body">Currently Community offender managers have to fill in an 8 pages form (PART A) to initiate a recall. <br>
We designed an online form that automatically pulls some data about the offender, and the Community offender manager can send it to their senior manager to sign the recall off.</p>
        
         <h4 class="govuk-heading-s">Assess a recall - PPCS team</h4>
        <p class="govuk-body">PPCS caseworkers will receive this request on their to-do list, with all the information and data available to assess the recall and communicate the decision to all the parties involved.</p>

        <h2 class="govuk-heading-m">
            What we didn't do
        </h2>
        
       <ul class="govuk-list govuk-list--bullet">
         <li>Parole Board reviews. We left them out of scope for this Sprint because we have enough learnings on that process and needs from the investigations done in the Release sprints.</li>
         <li>Rethinking the process to initiate a recall, as this will need a discovery. We’ve focussed our efforts on improving and simplifying this step as much as we could so the migration is feasible.</li>
       </ul>

        <h2 class="govuk-heading-m">
            What we learned
        </h2>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>Pulling data where possible keeps proving useful and time saving but expectations are based on past experiences.
In order to  feel confident when making a decision, participants still wanted control and being able to see as much information as possible, not just what was surfaced for them.
</li>
          <li>Fewer steps and reuse of data will bring more consistency 
to recall requests. For it to work the interface needs to signal to users where the information comes from and explain what they don’t need to do anymore.
</li>
          <li>Decisions that rely on people having a conversation are hard to standardise. The interface should collect clear explanations with the right metadata.</li>
        </ul>

        <h2 class="govuk-heading-m">
            To explore further
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>The overview page on 'Assess a recall' needs more testing to really understand what information caseworkers need to see first. 
              From an asynchronous activity with 5 caseworkers they all needed:
              <ul class="govuk-list govuk-list--bullet">
               <li>reason for the recall</li>
               <li>type of recall</li>
               <li>sentence details</li>
               <li>risk (OASys)</li>
              </ul>
              Worth noting that some wanted to see vulnerability issues and history of recalls. </li>
            <li>Regardless of their role or band, people largely need access to the same information about a recall (although for different purposes). This currently makes the recall process have more unique stages than a future state may require. When PPUD is replaced there may be the need for only minimal (or potentially no) rekeying or manual cross-referencing of information. 
This creates a good opportunity to explore teams/roles and where people could spend their time on more useful activities</li>
        </ul>

        <h2 class="govuk-heading-m">
            Prototypes we tested
        </h2>

      <div class="moj-timeline">
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Assess an emergency recall v2 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">8 September 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of PPCS assessing an emergency recall</p>
                <a class="govuk-button" href="/recall/ppcs/todo">View</a>                
            </div>
        <details class="govuk-details govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Main changes
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Change</th>
                                <th scope="col" class="govuk-table__header">Why we made it</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Redesigned the overview page</td>
                                    <td class="govuk-table__cell">Because the first version had missing information and the layout didn't help users to find the right information to start assessing a recall.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </details>
          
          </div>
          
           <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Assess an emergency recall v1 (PDF)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">1 September 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of PPCS assessing an emergency recall</p>
                <a class="govuk-button" href="/public/files/pdf-prototypes/ppcs-recall-v1.pdf">View</a>
                
            </div>
        </div>
          
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Cosigning prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">28 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of cosigning the recall process for a previous offender</p>
                <a class="govuk-button" href="/recall/cosigning">View</a>
                
            </div>
        </div>
          
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Initiate a recall v2 (PNG)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">9 September 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Screen to split the form into 'about the offender' and 'about the recall'</p>
                <a class="govuk-button" href="/public/files/pdf-prototypes/initiate-a-recall-v2.png">View</a>
           
            </div>
        </div>
          
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Initiate a recall v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">28 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of starting the recall process for a previous offender</p>
                <a class="govuk-button" href="/recall/start">View</a>
                
            </div>
        </div>
    </div>

  </div>
</div>

{% endblock %}
