
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
    Managing a recall for a previous offender prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/prototypes"
      }) }}
      <h1 class="govuk-heading-xl">
        Managing a recall for a previous offender
      </h1>

        <p class="govuk-body">We decided to focus on...</p>

        <h2 class="govuk-heading-m">
            Questions we asked
        </h2>
        <p class="govuk-body">...</p>

        <h2 class="govuk-heading-m">
            What we learned
        </h2>
        <p class="govuk-body">...</p>


        <h2 class="govuk-heading-m">
            Prototypes we tested
        </h2>

      <div class="moj-timeline">
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Assess emergency recall prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">8 September 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of PPCS assessing an emergency recall</p>
                <a class="govuk-button" href="/recall/ppcs/todo">View</a>
                
            </div>
        </div>
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Cosigning prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">28 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of cosigning the recall process for a previous offender</p>
                <a class="govuk-button" href="/recall/cosigning">View</a>
                
            </div>
        </div>
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Start a recall prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-28T00:00:00.000Z">28 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of starting the recall process for a previous offender</p>
                <a class="govuk-button" href="/recall/start">View</a>
                
            </div>
        </div>
    </div>

  </div>
</div>

{% endblock %}
