{% extends "recall/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {% set currentPage = "index-offence" %}
        {% include "recall/_side-navigation.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Index offence details</h1>
        <p class="govuk-body">An explanation of what the index offence was</p>
        <form action="/recall/supervision-response">

        {{ govukSummaryList({
            rows: [
                {
                key: {
                    text: "Full name"
                },
                value: {
                    text: "Jack Johnson"
                }
                },
                {
                key: {
                    text: "Index offence"
                },
                value: {
                    text: "Murder"
                }
                },
                {
                key: {
                    text: "Minimum term"
                },
                value: {
                    text: "18 years"
                }
                },
                {
                key: {
                    text: "Date of offence"
                },
                value: {
                    html: "20 January 2001"
                }
                }
            ]
        }) }}

        {{ govukTextarea({
            name: "add-index-offence",
            id: "add-index-offence",
            label: {
                text: "Add",
                classes: "govuk-label--m",
                isPageHeading: false
            }
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
        </form>
    </div>
</div>

{% endblock %}
