{% extends "recall/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {% set currentPage = "sentence-breached" %}
        {% include "recall/_side-navigation.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form action="/recall/emergency">
        {{ govukRadios({
        idPrefix: "sentence-breached",
        name: "sentence-breached",
        fieldset: {
            legend: {
                text: "Which active sentence are you initiating a recall on?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
           {
                value: "murder",
                text: "Life sentence (murder)",
                conditional: {
                  html: "<p>This will automatically trigger a standard recall</p>"
                }
            },
            {
                 value: "burglary",
                 text: "Determinate sentence (burglary)"
             }
        ]
        }) }}

        {{ govukRadios({
        idPrefix: "danger-to-public",
        name: "danger-to-public",
        fieldset: {
            legend: {
                text: "Is the offender presenting a great danger to the public?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
           {
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: "<p>This will automatically trigger an emergency recall</p>"
                }
            },
            {
                 value: "No",
                 text: "No"
             }
        ]
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
        </form>
    </div>
</div>

{% endblock %}
