{% extends "recall/layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Notify PPCS of a recall</h1>

        <p class="govuk-body">This service replaces the recall report. </p>
        <p class="govuk-body">Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>initiate a recall request for an offender on licencesed supervision</li>
            <li>notify Public Protection Casework Section of the recall request</li>
            <li>track progress of a recall</li>
        </ul>

        <a href="/recall/emergency" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You must have decided that the threshold for recall has been met call PPCS on: 020 987 165 and let them know as soon as possible.</p>

        <p class="govuk-body">You cannot initiate a recall request for someone that [geographic resitrction here]</p>
    </div>

    
</div>

{% endblock %}