
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
    Manage a parole review prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/prototypes"
      }) }}
      <h1 class="govuk-heading-xl">
        Manage a parole review
      </h1>
      
      <h2 class="govuk-heading-m">
        What we did
      </h2>
      <h4 class="govuk-heading-s">PPCS - Calculate tariff expiry date</h4>
      <p class="govuk-body">Currently to calculate the Tariff expiration date some have their own spreadsheet with formulas, others do it manually. It doesn't need to be that way as some can be calculated automatically.</p>
      <p class="govuk-body">We tested a prototype to help PPCS to calculate it so the review goes ahead.</p>

        <h4 class="govuk-heading-s">PPCS - Collect documents for the dossier </h4>
      <p class="govuk-body">Currently PPCS collects and chases all the documents via email, that they need to then manually upload on PPUD.</p>
      <p class="govuk-body">We tested prototypes that will help them check and collect the right documentation.</p>
        
        <h4 class="govuk-heading-s">MCA - Check documents for the Parole Board</h4>
      <p class="govuk-body">Currently MCA has to manually check on PPUD the dossiers, with lots of back and forth emails with PPCS.</p> 
      <p class="govuk-body">We tested some prototypes to simplify their workflow and help MCA caseworkers verify the documentation and refer cases, so the Parole Board has the right information</p>

        <h2 class="govuk-heading-m">
        What we didn't do
      </h2>
       <ul class="govuk-list govuk-list--bullet">
        <li>Scheduling</li>
         <li>Work allocation</li>
         <li>Testing in real time how handovers would work</li>
</ul>
        
         <h2 class="govuk-heading-m">
        To explore further
      </h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>When surfacing key information, most participants wanted to see every document. In some cases it made sense as it helped them understand the context of the case, but in others we couldn't see a clear reason.
            This has happened in most of the sessions and we wonder if it's a “habit”, rather than an actual need.</li>
        <li>Test with more Community offender managers the email with a magic link to provide information and if it should be password protected or they'll need an account</li>
        </ul>
        
      <h2 class="govuk-heading-m">
        What we learned
      </h2>
      <h4 class="govuk-heading-s">PPCS Initial Action team - Calculate tariff expiry date</h4>
       <ul class="govuk-list govuk-list--bullet">
        <li>The overview was useful to every participant, however some of them didn’t understand at the beginning that the information about the offender was automatically pulled from Nomis.</li>
        <li>In the cases where we can’t provide the data automatically, having the relevant documents close to them saved users time.</li>
        <li>Dividing their to-do list on new or in-progress cases wasn’t useful. The second iteration organised by groups of tasks worked well. (ie. Check and request documents, Calculate TED etc)</li>
        </ul>

     <h4 class="govuk-heading-s">PPCS - Collect documents for the dossier</h4>
       <ul class="govuk-list govuk-list--bullet">
        <li>To onboard users, the new product should explain what’s different and what they don’t need to do anymore. Start pages worked well for this.</li>
         <li>Documents automatically checked for errors weren’t always trusted. Some users preferred to check it themselves.</li>
          <li>Being able to request documents and send automatic reminders was really useful and time saving for users.</li>
        </ul>

        <h4 class="govuk-heading-s">Community Offender Manager – Provide documents</h4>
        <p class="govuk-body">Because of research participants availability we weren't able to conduct any concept testing with participants.</p>  
         
          <h4 class="govuk-heading-s">MCA - Check documents for the Parole Board</h4>
       <ul class="govuk-list govuk-list--bullet">
        <li>Showing the dossier overview and structure worked. Participants recognised the documents that needed additional checks.</li>
        <li>Similar to previous research sessions, documents automatically checked for errors weren’t always trusted. Some users preferred to check it themselves.</li>
        </ul>


      <h2 class="govuk-heading-m">
        Prototypes we tested
      </h2>

      <div class="moj-timeline">

      <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">PPCS - Initial Action team - Collect and track documents prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-19T00:00:00.000Z">24 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of collecting documents before a case is referred to the Parole Board</p>
                <a class="govuk-button" href="/release/case/collect-documents">Part one</a>
                <a class="govuk-button" href="/release/case/collect-and-track-documents">Part two</a>
                
            </div>
        </div>
          
            <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">COM receives a link to provide documents (PDF)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-19T00:00:00.000Z">24 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of providing documents **needs more research**</p>
                <a class="govuk-button" href="/public/files/pdf-prototypes/com-provides-documents.pdf">View</a>
            </div>
        </div>
        
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">MCA - Check documentation prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-19T00:00:00.000Z">19 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the verification of the documents that make up a dossier</p>
                <a class="govuk-button" href="/release/case/check-documentation">View</a>
                
                <details class="govuk-details govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Main changes
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Change</th>
                                <th scope="col" class="govuk-table__header">Why we made it</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">One document is incorrect</td>
                                    <td class="govuk-table__cell">To find out more about dossiers having incorrect documents</td>
                                </tr>

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Users can flag incorrect documents and give reasons</td>
                                    <td class="govuk-table__cell">To test if a semi-automated process of re-requesting documents can help with the problem</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </div>

        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">PPCS - Initial action team - Tariff expiration date calculation prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-07-27T00:00:00.000Z">27 July 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of calculating the tariff expiration date for indeterminate sentences</p>
                <a class="govuk-button" href="/release/case/milestones">View</a>
                
                <details class="govuk-details govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Main changes
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Change</th>
                                <th scope="col" class="govuk-table__header">Why we made it</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Add an input for days when providing minimum term and time spent in remand</td>
                                    <td class="govuk-table__cell">These dates are sometimes provided as number of days only or combination of months and days</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Include time spent in remand</td>
                                    <td class="govuk-table__cell">This is required as it is subtracted from the minimum term</td>
                                </tr>

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Surface related documents on calculation page</td>
                                    <td class="govuk-table__cell">To test if this will help with the calculation</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </div>
        
    </div>

  </div>
</div>

{% endblock %}
