
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
    Manage a parole review prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/prototypes"
      }) }}
      <h1 class="govuk-heading-xl">
        Manage a parole review
      </h1>
      <p class="govuk-body">We decided to focus on...</p>

      <h2 class="govuk-heading-m">
        Questions we asked
      </h2>
      <p class="govuk-body">...</p>

      <h2 class="govuk-heading-m">
        What we learned
      </h2>
      <p class="govuk-body">...</p>


      <h2 class="govuk-heading-m">
        Prototypes we tested
      </h2>

      <div class="moj-timeline">

      <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Collect and track documents prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-19T00:00:00.000Z">24 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of collecting documents before a case is referred to the Parole Board</p>
                <a class="govuk-button" href="/release/case/collect-documents">Part one</a>
                <a class="govuk-button" href="/release/case/collect-and-track-documents">Part two</a>
                
            </div>
        </div>
        
        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Check documentation prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-08-19T00:00:00.000Z">19 August 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the verification of the documents that make up a dossier</p>
                <a class="govuk-button" href="/release/case/check-documentation">View</a>
                
                <details class="govuk-details govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Main changes
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Change</th>
                                <th scope="col" class="govuk-table__header">Why we made it</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">One document is incorrect</td>
                                    <td class="govuk-table__cell">To find out more about dossiers having incorrect documents</td>
                                </tr>

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Users can flag incorrect documents and give reasons</td>
                                    <td class="govuk-table__cell">To test if a semi-automated process of re-requesting documents can help with the problem</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </div>

        <div class="moj-timeline__item">
            <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Tariff expiration date calculation prototype v1 (HTML)</h2>
            </div>
            <p class="moj-timeline__date">
                <time datetime="2020-07-27T00:00:00.000Z">27 July 2020</time>
            </p>
            <div class="moj-timeline__description">
                <p>Test the process of calculating the tariff expiration date for indeterminate sentences</p>
                <a class="govuk-button" href="/release/case/milestones">View</a>
                
                <details class="govuk-details govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Main changes
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Change</th>
                                <th scope="col" class="govuk-table__header">Why we made it</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Add an input for days when providing minimum term and time spent in remand</td>
                                    <td class="govuk-table__cell">These dates are sometimes provided as number of days only or combination of months and days</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Include time spent in remand</td>
                                    <td class="govuk-table__cell">This is required as it is subtracted from the minimum term</td>
                                </tr>

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Surface related documents on calculation page</td>
                                    <td class="govuk-table__cell">To test if this will help with the calculation</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </div>
        
    </div>

  </div>
</div>

{% endblock %}
