{% extends "release/layout.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}

{% set currentPage = 'search' %}

{% block pageTitle %}
  Manage prison release
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          Find someone
        </h1>

        <form action="" method="get" class="govuk-!-padding-5 govuk-!-margin-bottom-9 search-panel">
          <div class="moj-search">
            <div class="govuk-form-group">
              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                Enter prison, file reference number or offender’s name
              </label>
              <span id="search-hint" class="govuk-hint moj-search__hint ">
                Enter full or partial number
              </span>
              <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
            </div>
            <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
              Search
            </button>
          </div>
          <input type="hidden" name="results" value="1">
          <a href="#" class="govuk-link button-link govuk-body-m">
            Show extra search criteria
          </a>
        </form>

        {% if query.results %}
        <h2 class="govuk-heading-m">
          3 people found
        </h1>
        {% set viewButton = "<a href='#'>View</a>" %}
        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Prison number"
            },
            {
              text: "Family name"
            },
            {
              text: "First name"
            },
            {
              text: "Date of birth"
            },
            {
              text: "Index offence"
            },
            {
              text: ""
            }
          ],
          rows: [
            [
              {
                text: "A721445"
              },
              {
                text: "Kim"
              },
              {
                text: "Kate"
              },
              {
                text: "23 Feb 1970"
              },
              {
                text: "Murder"
              },
              {
                html: viewButton
              }
            ],
            [
              {
                text: "B721447"
              },
              {
                text: "Smith"
              },
              {
                text: "Vijay"
              },
              {
                text: "14 Dec 1981"
              },
              {
                text: "Murder"
              },
              {
                html: viewButton
              }
            ],
            [
              {
                text: "F729861"
              },
              {
                text: "Thomas"
              },
              {
                text: "Chris"
              },
              {
                text: "01 Mar 1965"
              },
              {
                text: "Murder"
              },
              {
                html: viewButton
              }
            ]
          ]
        }) }}

        {% endif %}
    </div>
  </div>

{% endblock %}
