{% extends "release/layout.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% set currentPage = 'todo' %}

{% block pageTitle %}
  To do - Manage prison release
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if query['how-to-progress'] %}
          {{ mojBanner({
            type: 'success',
            html: '<strong>The case is ' + query['how-to-progress'] + '</strong>',
            iconFallbackText: 'Success'
          }) }} 
        {% endif %}
      
        <h1 class="govuk-heading-xl">
          To do
        </h1>

        <h2 class="govuk-heading-m">
          <span class="govuk-!-font-size-48">3</span> cases awaiting referral
        </h2>
        {% set viewButton = "<a href='/release/case/milestones'>View</a>" %}
        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "NOMIS number"
            },
            {
              text: "Status"
            },
            {
              text: "Sentence"
            },
            {
              text: "Name"
            },
            {
              text: "Date of birth"
            },
            {
              text: ""
            }
          ],
          rows: [
            [
              {
                text: "A721445"
              },
              {
                html: govukTag({text: "Waiting", classes: "govuk-tag--blue"})
              },
              {
                text: "Indeterminate"
              },
              {
                text: "Matt Johnson"
              },
              {
                text: "20 September 1976"
              },
              {
                html: viewButton
              }
            ],
            [
              {
                text: "B721447"
              },
              {
                html: govukTag({text: "Waiting", classes: "govuk-tag--blue"})
              },
              {
                text: "Indeterminate"
              },
              {
                text: "Ted Smith"
              },
              {
                text: "2 May 1981"
              },
              {
                html: viewButton
              }
            ],
            [
              {
                text: "F729861"
              },
              {
                html: govukTag({text: "Waiting", classes: "govuk-tag--blue"})
              },
              {
                text: "Indeterminate"
              },
              {
                text: "John Taylor"
              },
              {
                text: "15 June 1988"
              },
              {
                html: viewButton
              }
            ]
          ]
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-9">
          <span class="govuk-!-font-size-48">8</span> referred to parole board

          <span style="float:right" class="govuk-body-s govuk-!-margin-top-5">
            <a href="#all">Show all</a>
          </span>
        </h2>
        {% set viewButton = "<a href='#'>View</a>" %}
        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "NOMIS number"
            },
            {
              text: "Status at Parole Board"
            },
            {
                text: ""
            },
            {
              text: "Sentence"
            },
            {
              text: "Name"
            },
            {
              text: "Date of birth"
            },
            {
              text: ""
            }
          ],
          rows: [
            [
              {
                text: "Z721443"
              },
              {
                html: govukTag({text: "On track", classes: "govuk-tag--green"})
              },
              {
                text: ""
              },
              {
                text: "Indeterminate"
              },
              {
                text: "Mike John"
              },
              {
                text: "1 March 1973"
              },
              {
                html: viewButton
              }
            ],
            [
              {
                text: "Y721491"
              },
              {
                html: govukTag({text: "On track", classes: "govuk-tag--green"})
              },
              {
                text: ""
              },
              {
                text: "Indeterminate"
              },
              {
                text: "Marc Ruffalo"
              },
              {
                text: "29 December 1979"
              },
              {
                html: viewButton
              }
            ],
            [
              {
                text: "F729861"
              },
              {
                html: govukTag({text: "On hold", classes: "govuk-tag--red"})
              },
              {
                text: "Waiting on quality check"
              },
              {
                text: "Indeterminate"
              },
              {
                text: "Christian Aguila"
              },
              {
                text: "6 April 1990"
              },
              {
                html: viewButton
              }
            ]
          ]
        }) }}
    </div>
  </div>

{% endblock %}
