<table width="100%" style="border-collapse:collapse;min-width:100%;width:100%!important" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td width="100%" height="53" style="background-color:#0b0c0c" bgcolor="#0b0c0c">
                <table width="100%" style="border-collapse:collapse;max-width:580px" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td width="70" style="background-color:#0b0c0c" bgcolor="#0b0c0c">
                                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" style="text-decoration:none" rel="noreferrer" target="_blank"></a>
                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left:10px">
                                                <img src="https://static.notifications.service.gov.uk/images/gov.uk_logotype_crown.png" alt=" " height="32" border="0" style="margin-top:4px" class="CToWUd">
                                            </td>
                                            <td style="font-size:28px;line-height:1.315789474;margin-top:4px;padding-left:10px">
                                                <span>
                                                    <a href="http://GOV.UK" target="_blank" style="font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;color:#fff;">GOV.UK</a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%">
    <tbody>
        <tr>
            <td width="10" height="10"></td>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td width="100%" height="10" style="background-color:#005ea5" bgcolor="#005EA5"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="10" height="10"></td>
        </tr>
    </tbody>
</table>
<table align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%">
    <tbody>
        <tr>
            <td height="30"><br></td>
        </tr>
        <tr>
            <td width="10"><br></td>
            <td style="font-size:19px;line-height:1.315789474;max-width:560px; color:#0b0c0c;font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;font-size:19px;line-height:25px">
                
            </td>
            <td width="10"><br></td>
        </tr>
        <tr>
            <td height="30"><br></td>
        </tr>
    </tbody>
</table>