
{% extends "layout.html" %}

{% block pageTitle %}
  List of prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        PPUD Alpha prototypes
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/release">Manage a parole review</a></li>
        <li><a href="/recall">Manage a recall for a previous offender</a></li>
        <li><a href="/mh_transfer/start">Request mental health treatment for an offender in prison</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
