
{% extends "layout.html" %}

{% block pageTitle %}
  Public Protection Unit Database
{% endblock %}

{% set bodyClasses = "intro-page" %}
{% set currentPage = 'about' %}

{% block intro %}
<div class="intro-panel">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-padding-bottom-4">
        <h1 class="govuk-heading-xl">
          Public Protection Unit Database
        </h1>
        <p class="govuk-body">From May - June 2020, a Discovery into the existing Public Protection Unit Database (PPUD) was undertaken to explore what would be required for PPUD to become a modern, flexible, supportable, and user-centred service that:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>enables the effective and secure release and recall of offenders</li>
<li>diverts patients to the mental health system</li>
<li>supports the investigation of complaints and fatal incidents in justice settings</li>
        </ul>

A number of significant issues were identified with the existing service that led to a recommendation that the monolithic PPUD service be deprecated and replaced by a number of modern services, centred around the outcomes that each organisation using PPUD is trying to achieve, built according to modern technology standards. 

        <p class="govuk-body">These new services should be hosted, maintained and supported by the MoJ’s Digital Studio.</p>
      
        <p class="govuk-body">Where is it going</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Resources</h2>

    <h3 class="govuk-heading-m">Final report</h3>
    <p class="govuk-body">Final report that summarises the work we've done over the last three months.</p>
    <p class="govuk-body"><a href="https://docs.google.com/presentation/d/11FFU_sP7LpMGkc2nohWB1SB_ToqttfVsUIP0Ir-f59Q/edit?usp=sharing" class="govuk-link">View</a></p>

    <h3 class="govuk-heading-m">Technical report</h3>
    <p class="govuk-body"></p>
    <p class="govuk-body"><a href="#" class="govuk-link">View</a></p>

    <h3 class="govuk-heading-m">Discovery report</h3>
    <p class="govuk-body">Report with the findings from Discovery</p>
    <p class="govuk-body"><a href="https://drive.google.com/file/d/1Cu97tAYHvQsNyQwhSaYzU-f612icRmRy/view?usp=sharing" class="govuk-link">View</a></p>
    
    <h3 class="govuk-heading-m">Design files</h3>
    <p class="govuk-body">Figma documents for some of the prototypes that we tested with interactive PDFs</p>
    <p class="govuk-body"><a href="/public/files/pdf-prototypes/prototypes-ppud-alpha.fig" class="govuk-link">View</a></p>
  </div>
</div>


{% endblock %}
