
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
    Make a medical assessment prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
            text: "Back",
            href: "/prototypes"
        }) }}
        <h1 class="govuk-heading-xl">
            Make a medical assessment
        </h1>


        <h2 class="govuk-heading-m">
            What we did
        </h2>
        <p class="govuk-body">To complete a medical assessment for a transfer to a hospital, currently clinicians fill in a form that gets sent to prison. They         find it on Google or some have the template stored in their computers. We designed and tested an online form for a Section 47 to help clinicians with transfers and replace the paper form.
</p>

        <h2 class="govuk-heading-m">
            What we didn't do
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Journey for Section 48</li>
         <li>Test with the medical team in prisons</li>
        </ul>
        
        <h2 class="govuk-heading-m">
            What we learned
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>A digital form will create opportunities to make it easier for clinicians to communicate their assessments and for all parties to know where things are at. It’ll be also beneficial to standardise information.</li>
         <li>Signature is missing. It’s part of the current form and it’s necessary because it forms the legality of the request.</li>
        </ul>

        <h2 class="govuk-heading-m">
            To explore further
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Adding a way to capture their signature or an equivalent.</li>
         <li>Review content design of the form so it works for clinicians in hospitals and clinicians in prisons.</li>
        </ul>
        
        <h2 class="govuk-heading-m">
            Prototypes we tested
        </h2>

        <div class="moj-timeline">
            
              <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Changes needed for next iteration (PNG)</h2>
                </div>
                  <p class="moj-timeline__date">
                    <time datetime="2020-08-28T00:00:00.000Z">21 September 2020</time>
                </p>
                  <div class="moj-timeline__description">
                    <p>List of changes that might be needed in the next iteration of the prototype</p> 
                <a class="govuk-button" href="/public/files/pdf-prototypes/medical-assessment-changes.png">View</a>
                  </div>
                  </div>
            
            
            <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Apply for admitting an offender in prison or custody to hospital for mental health treatment (HTML)</h2>
                </div>
                <p class="moj-timeline__date">
                    <time datetime="2020-08-28T00:00:00.000Z">21 September 2020</time>
                </p>
                <div class="moj-timeline__description">
                    <p>Test the process of a responsible clinician informing MHCS about the need to divert an offender in prison or custody to a hospital for mental health treatment</p>
                    <a class="govuk-button" href="/mh_transfer/responsible-clinician/start-rc">View</a>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
